<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../scss/style.scss">
    <link rel="stylesheet" href="../scss/home.scss">
</head>
<body>
   <header>
      <section class="headerTitle-container">
        <h1 class="headerTitle">post</h1>
      </section>
      <nav>
        <ul class="nav-list">
          <li><a href="./agregar.post.html">agregar post</a></li>
          <li><button id="out">Log out</button></li>
        </ul>
      </nav>

      
    </header>
  <div class="container">

    <div id="create-post"></div>
     <ul id="post-list"></ul>

  </div>
</body>


<script  type= "module" src="../controllers/sign.out.ts"></script>
<script src="../controllers/card.ts"></script>
</html>